/* set up snippet for responsiveness and accessibility */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* general styles */
body {
    margin: 0;
}

img {
    width: 100%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%)
}

p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
}

.wrapper {
    margin:0 auto;
    width: 85%;
    max-width: 1440px;
}

 /* button styles - colours changed for accessibility contrast */

.primary-btn a{
    display: block;
    width: 100%;
    min-width: 95px;
    max-width: 300px;
    border-radius: 30px;
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 4px 7px 3px hsla(208, 11%, 55%, 0.2);
    color:hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.get-started-feature .primary-btn a{
    max-width: 350px;
    padding: 25px;
    border-radius: 40px;
    margin: 0 auto;
}

.primary-btn a:hover {
    background-color: hsl(190, 96%, 52%);
    color: hsl(192, 83%, 11%);
    box-shadow: 1px 1px 1px 1px hsl(192, 83%, 11%);
}

.primary-btn a:focus {
    background-color: hsl(190, 96%, 52%);
    color: hsl(192, 83%, 11%);
    box-shadow: 1px 1px 1px 1px hsl(192, 83%, 11%);
}

.secondary-btn {
    width: 16em;
    height: 52px;
    background: hsl(0, 0%, 100%);
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: clamp(0.5rem, 4vw, 1rem);
    color: hsl(192, 100%, 9%);
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    box-shadow: 1px 0px 10px -5px;
}

.secondary-btn:hover {
    background-color: hsl(190, 96%, 52%);
    color: hsl(192, 83%, 11%);
    box-shadow: 1px 1px 1px 1px hsl(192, 83%, 11%);
}

.secondary-btn:focus {
    background-color: hsl(190, 96%, 52%);
    color: hsl(192, 83%, 11%);
    box-shadow: 1px 1px 1px 1px hsl(192, 83%, 11%);
}
/* header styles */
header {
    height: 90vh;
    width: 100%;
    margin: 0;
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.blk-logo {
    width: 5em;
}


.frontpage-header-container {
    display: flex;
    padding-top: 100px;
}

.text-header-container {
    width: 50%;
    padding-top: 30px;
}

.text-header-container h2 {
    padding-right: 50px;
    font-size: clamp(1.3rem, 4vw, 2.8rem);
    line-height:  clamp(.08rem, 4vw, 4rem);
}

.text-header-container p {
    padding-right: 100px;
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    color: hsl(192, 100%, 9%);
    line-height: clamp(0.8rem, 4vw, 1.5rem);
}

.image-header-container {
    width: 50%
}

/* main section */

.card {
    display: flex;
    margin-top: 80px;
    border-radius: 14px;
    box-shadow: 0px 0px 8px -5px hsl(208, 11%, 55%, 0.9);
}

.card p {
    color:hsl(208, 11%, 55%);
    line-height: 1.5em;
}

.text-container {
    padding: 10%;
}

.image-container {
    padding: 5%;
}

.get-started {
    height: 300px;
    position: relative;
}

.get-started-feature {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 700px;
    padding: 5%;
    text-align: center;
    border-radius: 14px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 8px -5px hsl(208, 11%, 55%, 0.9);
}

.get-started-feature h2{
    font-size: 1.8rem;
    margin-bottom: 35px;
}


/* footer section */

footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(0, 0%, 100%);
    height: 70vh;
}

footer a {
    color: hsl(0, 0%, 100%);
}

.white-logo {
    width: 10rem;
}

.footer-container{
    padding-top: 233px;
}

.footer-text-container {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.footer-contact p {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.2rem;
}

.footer-contact {
    width: 28%;
}

.about-icons {
    width: 2.5rem;
    padding-right: 20px;
}

/* created a new div for location icon to line up text */

.location-container{
    display: flex;
}

.about-icons-location {
    width: 2.4rem;
    padding-top: 15px;
    padding-right: 23px;
}

/* footer menu styling */
.footer-contact {
    min-width: 189px;
}

.footer-menu-container ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 520px;
    margin-left: 100px;
}

.footer-menu-container li{
    padding-bottom: 30px;
}

.footer-menu-container a:hover {
    text-decoration: underline;
}

.footer-menu-container a:focus {
    text-decoration: underline;
}


/* social styling */
.social-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    width: 160px;
    justify-content: space-between;
    padding: 0;
}

.social-icons ul {
    margin: 0;
    padding: 0;
}

.social-icons a{
    display:block;
    width: 35px;
    height: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 25px;
    font-size: 1.2rem;
    padding-top: 5px;
    text-align: center;
}

.social-icons a:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.social-icons a:focus {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}


/* copyright bar */
.copyright p {
    width: 300px;
    font-size: .6rem;
    padding-top: 20px;
}


/* media queries start here */


/* med lg screen */
@media (max-width: 1080px) {

    .image-header-container {
        padding-top:10%
    }
    
    .image-container{
        padding-top: 15%;
    }
    .get-started {
        position: relative;
        
    }

    .get-started-feature {
        left: 0;
        width: 100%;
    } 

    footer{
        height: 110vh;
    }

    .white-logo {
        margin-top: 50px;
    }

    .footer-contact {
        width: 80%;
    }

    .footer-menu-container{
        margin-left: 0;
    }

    .footer-text-container {
        display: block;
    }

    .footer-text-container ul{
        flex-wrap: nowrap;
        height: 100%;
        margin-top: 50px;
        padding-left: 0px;
        margin-left: 0;
    }

    .social-container{
        width: 150px;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .copyright{
        text-align: center;
        justify-content: space-around;
    }
}

/* med screen */
@media (max-width: 700px) {
    header {
        height: 100vh;
        background-image: url(./images/bg-hero-mobile.svg);
    }

    .wrapper{
        width: 90%;
    }

    .header-nav {
        padding-top: 0px;
    }

    .blk-logo {
        width: 3em;
    }

    .secondary-btn{
        width: 35%;
        height: 28px;
        margin-top: 28px;
        padding-top: 5px;
        font-size: 13px;
    }

    .frontpage-header-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 85%;
        padding-top: 0px;
    }

    .text-header-container {
        width: 100%;
    }

    .text-header-container h2{
        padding-right: 0px;
        font-size: clamp(15px, 7vw, 40px);
        line-height: 35px;
    }
    
    .text-header-container p {
        padding: 0px 5px 0px 5px;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 50px;
    }

    .text-header-container .primary-btn a{
        margin: 0 auto;
    }

    .image-header-container {
        width: 110%;
        padding-top: 50px;
    }

    .card {
        flex-direction: column-reverse;
        text-align: center;
    }

    .card:nth-child(2){
        flex-direction: column;
    }

    .get-started-feature{
        padding: 40px 0px 40px 0px;
    }

    .get-started-feature h2{
        font-size: 1.05rem;
        margin-bottom: 20px;
    }

    .get-started-feature .primary-btn a{
        width: 70%;
        padding: 15px;
        font-size: .8rem;
    }

    .footer-container {
        padding-top: 100px;
    }

    .footer-logo {
        margin-top: 0px;
        padding-left: 20px;
    }
}

/* small screen */
@media (max-width: 400px) and (min-width: 321px){
    .header {
        background-image: url(./images/bg-hero-mobile.svg);
        height: 83vh;
    }
    .text-header-container p{
        margin-bottom: 40px;
    }
    .text-header-container .primary-btn a{
        margin: 0 auto;
        padding: 13px;
        width: 233px;
        font-size: 13px;
    }
}